---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Article from "~/components/Article.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
---

<Layout>
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<!-- <Badge title="il ristorante italiana" /> -->
				<h1 class="font-black">Üdvözöljük a Toronykakas Vadásztársaság oldalán!</h1>

				<p>
					Szenvedélyünk a vadászat, elkötelezettségünk a természet iránti tisztelet. Csatlakozzon hozzánk közös vadászatokra, fedezze fel programjainkat, és legyen része közösségünknek!
				</p>

				<span class="text-brand-green font-medium">✔ We also deliver</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Book now</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={'bg-white'}>
		<Article>
			<h2>Ismerje meg társaságunkat!</h2>
			<p>
				Területünk a <strong>Velencei-tó</strong> és a <strong>Duna</strong> között helyezkedik el, <strong>Besnyő</strong> határában.
				Itt az apróvadas vadászélmény találkozik a kiváló őzállománnyal, a vadfácánok színes rajaival és a területet időről időre felpezsdítő vaddisznókkal.
				Célunk egyszerű: olyan baráti hangulatú vadászatot nyújtani, ahol a teríték mellett az élmény, a kultúra és a természet iránti tisztelet a legnagyobb kincs.
			</p>

			<h3>Hitvallásunk</h3>
			<blockquote>"A hagyomány a gyökér, a természet a lomb, a vadászat pedig a híd a kettő között."</blockquote>
			<p>
				<ul>
					<li><strong>Hagyomány & kultúra</strong></li>
				</ul>
				A magyar vadászati szokásokat tiszteljük és éltetjük.
				<ul>
					<li><strong>Fenntarthatóság & vadgazdálkodás</strong></li>
				</ul>
				Szakmai alapossággal kezeljük az állományt, hogy az őzek és fácánok a jövőben is otthonra leljenek itt.
				<ul>
					<li><strong>Vendégszeretet & baráti légkö</strong></li>
				</ul>
				Nálunk a vendég nemcsak vadász, hanem a társaság tagja egy napra – kellő figyelemmel, jó szóval és közös élményekkel.
			</p>

			<h4>Miért válasszon minket?</h4>
			<ul>
				<li><strong>Hiteles élmény:</strong>  Apróvadas területeken ritka változatosság: őz, vadfácán, vaddisznó egyaránt.</li>
				<li><strong>Szakszerű kíséret:</strong> Tapasztalt hivatásos vadászaink biztosítják a biztonságot és az etikus elejtést.</li>
				<li><strong>Baráti hangulat</strong>
			</ul>

			<h3>Csatlakozzon hozzánk!</h3>
			<p>
				Legyen szó első bakjáról, emlékezetes fácánhajtásról – a Toronykakas Vadásztársaság mindig nyitott kapukkal várja.<br>
				Lépjen velünk kapcsolatba, egyeztessünk időpontot, és élje át a vadászélményt.
			</p>
		</Article>
	</Section>
</Layout>
