---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormContact from "~/components/forms/FormContact.astro";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-tangerine text-brand-black h2">
				Kapcsolat
			</h2>
			<p slot="heading-content">Lépjen velünk kapcsolatba.</p>
		</Heading>

		<FormContact />
		<div class="mt-8 max-w-xl mx-auto text-center text-lg text-gray-800">
			<p class="font-semibold">
				Kérdés esetén érdeklődjön a vadásztársaság elnökénél:
			</p>
			<p class="mt-1">Zsolnay György</p>
			<p class="mt-1">
				📞 <a
					href="tel:+36702902551"
					class="text-brand-green hover:underline">+36 70 290 2551</a
				>
			</p>
		</div>
	</Section>
</Layout>
