---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import AstroTable from "~/components/Table.astro";
---

<Layout title="Ajánlataink" description="Vendégvadászat árak – őzbak vadászat, társasvadászat és apróvad vadászat Fejér megyében. Vadászati ajánlatok Velence és Székesfehérvár térségében.">
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-tangerine h2">Vadászati ajánlatok</h1>
			<p slot="heading-content">
				Az alábbi menüpontban tájékozódhat társaságunk aktuális árai­ról.
			</p>
		</Heading>

		<AstroTable />
	</Section>
</Layout>
