---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import AstroTable from "~/components/Table.astro";
---

<Layout>
	<Section>
		<Heading>
			<h1 slot="heading-title" class="font-tangerine h2">Vadászati ajánlatok</h1>
			<p slot="heading-content">
				We offer a variety of dishes, from traditional to modern, that are sure to satisfy your cravings.
			</p>
		</Heading>

		<AstroTable />
	</Section>
</Layout>
