---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
---

<footer class="bg-brand-sand text-black">
	<div class="container pt-16 pb-8">
		<p class="text-center font-tangerine text-4xl text-black">Toronykakas<span class="text-brand-black px-3 ml-1 rounded-lg">Vadásztársaság</span></p>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="mt-10 text-center text-sm">&copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a></p>
	</div>
</footer>
